<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>
 <div class="d-flex  text-light align-items-center  justify-content-center mb-3">
    <h1> Add Product</h1>
  </div>
<div class="container text-light">
  <%= form_for @product, remote: false do |f| %>
    <h4><%= f.label :name, class: "form-label" %></h4>
    <p><%= f.text_field :product_name, class: "form-control" %></p><br>
    <h4><%= f.label :Description, class: "form-label"%></h4>
    <h4><%= f.text_field :description, class: "form-control" %></h4><br>
    <h4><%= f.label :Price, class: "form-label" %></h4>
    <h4><%= f.text_field :price, class: "form-control" %></h4> <br>
    <h4><%= f.submit class: "btn btn-primary"  %></h4>
  <% end %>
</div>
